0.0.0.0:80
{{~ # if cfg.tls.email ~}}
{{~ # each cfg.hostnames as |hostname| ~}}
, https://{{ hostname }}
{{~ /each}}

tls {{ cfg.tls.email }}
{{/if}}

gzip

proxy / {{#eachAlive bind.backend.members as |member|}}{{ member.sys.ip }}:{{ member.cfg.port }} {{/eachAlive}} {
    websocket
}
